

*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
body{
    background-image: url(mac-pc.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    margin-top: 25px;
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin: 3px;

}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px #fff solid ;
    transition: 0.3s ease;
}

ul li a:hover{
    background-color: #fff;
    color: black;
}
ul li.active a{
    background-color: #fff;
    color: black;
}

.logo img{
    float: left;
    width: 250px;
    height: auto;
}

.main{
    margin: auto;
    max-width: 1300px;
}


.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 60px;
    font-weight: bolder;
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    color: #fff;
    font-size: 25px;
    border: 1px solid #fff;
    padding: 15px 20px;
    transition: 0.3s ease;
}
.button a{
    text-decoration: none;
}
.button a:hover{
    background-color: #fff;
    color: black;
}